body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-align: center;
  color: #00376f;
}

form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
}

form div {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="time"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: green;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: darkgreen;
}

p {
  margin-bottom: 10px;
}

.reservation-details {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
}

.reservation-details p {
  margin: 0;
}
